<!-- -->
<!-- -->
<!-- -->
{{set . "title" "Home"}}
{{template "header.html" .}}
<!-- -->
<!-- -->
<!-- -->
<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
        <h1>{{.hostname}}  - maquina realizando atividades maliciosas</h1>
      <p></p>
    </div>
  </div>
</header>
<!-- -->
<!-- -->
<!-- -->
<script type="text/javascript">
</script>
<!-- -->
<!-- -->
<!-- -->
<div class="container">
  <div class="row">
      <label for="ip">IP ADDRESS:</label>
      <input type="text" id="ip" value="{{.ipaddr}}"> 
      <br></br>
      <label for="network_contact">NETWORK CONTACT:</label>
      <input type="email" id="network_contact" value="{{.netcontactlist}}">
      <br></br>
      <label for="tiposdeataque">ATTACK TYPE:</label>
      <select id=tiposdeataque>
      <option value="null">Selecionar tipo</option>
      <option value="varredura">Ataque de varredura de portas</option>
      <option value="null">Ataque de forca bruta SSH</option>
      <option value="null">Ataque de forca bruta SMTP</option>
      <option value="null">Ataque de forca bruta SMTPS</option>
      <option value="null">Ataque de forca bruta POP3</option>
      <option value="null">Ataque de forca bruta POP3S</option>
      <option value="null">Ataque de forca bruta IMAP</option>
      <option value="null">Ataque de forca bruta IMAPS</option>
      <option value="null">Ataque de forca bruta TELNET</option>
      <option value="null">Tentativas de exploracao de vulnerabilidades conhecidas em servidores Web</option>
      </select>
      <br></br>
      <label for="timezone">FUSO HORARIO:</label>
      <select id="timezone">
      <option value="null">Selecionar formato</option>
      <option value="null">-hh:mm</option>
      <option value="null">+hh:mm</option>
      </select>
      <br></br>
<textarea rows="10" cols="132">
</textarea>
      <br></br>
      <input type="submit">
      <br></br>
      <a href="/">Back to form</a>
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
