<!-- -->
<!-- -->
<!-- -->
{{set . "title" "Home"}}
{{template "header.html" .}}
<!-- -->
<!-- -->
<!-- -->
<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
        <h1>{{.hostname}} - Servidor DNS malicioso usado em ataques de pharming</h1>
      <p></p>
    </div>
  </div>
</header>
<!-- -->
<!-- -->
<!-- -->
<script type="text/javascript">
</script>
<!-- -->
<!-- -->
<!-- -->
<div class="container">
  <div class="row">
      <label for="ip">IP ADDRESS:</label>
      <input type="text" id="ip" placeholder="{{.hostname}}">
      <br></br>
      <label for="network_contact">NETWORK CONTACT:</label>
      <input type="email" id="network_contact" placeholder="abuse@domain.com">
      <br></br>
      <label for="timezone">FUSO HORARIO:</label>
      <input type="text" id="timezone" placeholder="(+,-)hh:mm,hhmm,hh">
      <br></br>
      <textarea rows="10" cols="132">
      </textarea>
      <br></br>
      <a href="/">Back to form</a>
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
